[Important Files] @truemikesmith @Kalkalash @AngriestBird @crocomoth @amtoj @TraianoGitHub @WarnerDev @deflinok1 @KianGhk1530 @XCezor @MrP0tter
CODEOWNERS
.gitignore
.gitlab-ci.yml
*.mod
CONTRIBUTING.md
README.md
LICENSE
Dockerfile
common/defines/*.lua

